@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
.App {
  text-align: center;
}
*{
  margin:0px;
}


#div1{
  background:white;
  color:black;
}
.b1{
  font-size:30px;
  padding: 20px 20px;
  align-items: center;
  color:white;
  background-color: black;
  
}
.row{
  height: 100px;
  padding:50px 0;
  background-color: white;
}
.column{
  float:left;
  width:50%;
  padding-top:5px;
  text-align:center;
}
.b1 a{
  font-family: 'Barlow', sans-serif;
  text-decoration: none;
  font-weight: 700;
  
}
.b1 a:visited{
  color:white;
}
.b1 a:hover{
  color:greenyellow;
}

#div2{
  background-color:black;
  color:white;
  text-align:left;
}
#p2{
  color:white;
  font-size: 60px;
  padding: 10px 0px;
  font-family: 'Roboto Condensed', sans-serif;

}
.p3{
  font-size : 20px;
  padding:3px 0px;
  font-family: 'Barlow', sans-serif;
}
.home{
  background-color:black;
}
#h1{
  font-family: 'Roboto Condensed', sans-serif;
  color:white;
  padding:0px 0px;
  font-size:50px;
}